<a href="https://colab.research.google.com/github/magdamadejwsb/Pandas/blob/main/series/01_series.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

# Obiekt Series

In [6]:
# tworzenie obiektu Series z listy
s1 = pd.Series([5, 10, 15, 20])
print(s1)

0     5
1    10
2    15
3    20
dtype: int64

In [7]:
# tworzenie obiektu Series z listy z własnym indeksem
s2 = pd.Series([100, 200, 300], index=["A", "B", "C"])
print(s2)

A    100
B    200
C    300
dtype: int64

In [8]:
# tworzenie obiektu Series ze słownika
# Klucze słownika → indeks
# Wartości → dane
s3 = pd.Series({"Polska": 38, "Niemcy": 83, "Francja": 65})
print(s3)

Polska     38
Niemcy     83
Francja    65
dtype: int64

In [9]:
# tworzenie obiektu Series z tablicy NumPy
import numpy as np

arr = np.array([1.5, 2.5, 3.5])
s4 = pd.Series(arr)
print(s4)

0    1.5
1    2.5
2    3.5
dtype: float64

In [11]:
# tworzenie obiektu Series z danymi tekstowymi
s5 = pd.Series(["Python", "Pandas", "NumPy"])
print(s5)

0    Python
1    Pandas
2     NumPy
dtype: object